<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pizzarecipes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Pizza Recipes"
        android:theme="@style/AppTheme">

        <!-- SplashActivity est le point d'entrée -->
        <activity android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Liste des pizzas -->
        <activity android:name=".ui.ListPizzaActivity"/>

        <!-- Détail d'une pizza -->
        <activity android:name=".ui.PizzaDetailActivity"/>
    </application>
</manifest>